/*Estilização do BODY da página*/
body{
    padding: 0;
    margin: 0;
    font-family: 'Tahoma', 'Arial';
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,89,255,1) 160%);
}

/*Estilização do HEADER da página*/
.logo{
    width: 8%;
    margin-right: 20px;
}

/*Estilização do MENU do site*/
nav{
    color: rgb(0, 89, 255);
    font-size: 24px;
    position: static;
    margin: 0;
}

nav li{
    display: inline;
    margin-right: 55px;
}

/*Estilização da DIV do header*/
.divHeader{
    position: relative;
    
}

/* Posição do Header */
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    position: relative;
    background-color: rgb(255, 255, 255);
    padding: 0 160px;
}

h1.titulo {
    flex-grow: 1;
    font-size: 2rem;
    text-align: center;
    margin: 0;
}

/*Estilizacao do contaner sutituilo*/


.icon{
    margin-left: 10%;
    width: 3%;
    margin-right: 10px;
}
/*Titulo*/
.produtos-titulo{
    font-family: cursive;
    font-size: 40px;
    font-weight: bold;
    color: rgb(0, 89, 255);
    list-style: none;

    
}
/*Estilização do container dos produtos*/
.produtos-item::before{
    content: "🦷";
}
.texto-produtos{
    padding-left: 5%;
    color: white;
}
/*Container dos Cards*/
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-bottom: 20px;
    
}
/*Estilização dos Cards*/
.card{
    background: whitesmoke;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}
.card:hover{
    transform: scale(1.05);
}
.card img{
    width: 100%;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
}
.preco{
    
}

/*Estilização do FOOTER da página*/
footer{
    background: url(../images/bgfooter.jpg);
    background-size: cover;
    background-position: center;
    background-color:  rgba(0, 0, 0, 0.6);
    padding: 80px;
    object-fit: cover;
    height: 100px;
    margin-top: 100%;
}

footer p {
    font-weight: bold;
    display: inline-block;
    text-align: right;
    width: 88%;
    font-size: 15px;
    color: rgb(0, 0, 0);
}
.copyright{
    text-align: center;
    padding: 2%;
}
.logo_footer{
    width: 5%;
}